*.aux
*.dvi
*.bcf
*.xml
*.lot
*.log
*.out
*.toc
*.lof
*.thm
*.bbl
*.tmp
*.xdv
*.blg
*.xdv
~$*
.dist
*.fdb_latexmk
*.fls
*.txt
*.glo
*.glg
*.nls
*.nlo
*.gls
*.ilg
*.xdy
*.ist


cover.tex
acknowledge.tex

thesis-blx.bib
1intro.tex
2relatedwork.tex
3ourwork.tex
4experiment.tex
5discussion.tex
6conclusion.tex
cover.tex
acknowledge.tex
glossaries.tex
appendix.tex
thesis-blx.bib
refer.bib
thesis.tar

thesis*.pdf
figures/*
!figures/hnu.*
!figures/HSVGPDF.*
svg-inkscape/*