*.aux
*.dvi
*.bcf
*.xml
*.lot
*.log
*.out
*.toc
*.lof
*.thm
*.bbl
*.tmp
*.xdv
*.blg
~$*
.dist
*.fdb_latexmk
*.fls

1intro.tex
2relatedwork.tex
3ourwork.tex
4experiment.tex
5discussion.tex
6conclusion.tex
cover.tex
acknowledge.tex
appendix.tex
thesis-blx.bib
revision.txt
draft.txt
refer.bib
thesis.tar

thesis.pdf
criterions\本科论文模板.docx